.main-body{
    background-color: rgba(198, 191, 191, 0.983);
}

.nav-font{
    font-size: 25px;
}

.nav-link{
    font-size: 25px;
}

 .font-style{
    font-family: 'Courgette', cursive;;
}
.img-profile{
    height: 50px;
    width: 50px;
}
.footer-sec{
    height: 187px;
    background-color: white;
}
  